* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(30deg,white,pink);
	background-size: 100% 100vh;
  }

 .center{
 	margin-top: 10px;
  }

  .hide{
	display: none;
}


/*---GAMEPLAY LANDING SECTION---*/

#landing {
	font-family: 'Poppins', sans-serif;
	display: block;
	padding: 20px;
	margin-top: 35vh;
	width: 50%;
	height: auto;
	background:linear-gradient(to right,blue,white);
	border-radius: 100px;
	transition: 0.8s;
	cursor: pointer;
}

#landing:focus{
	border: none;
	outline: none;
}

#landing h1 {
	color: #ffffff;
	outline: none;

}




/*---GAMEPLAY GLOBAL NAVIGATIONS---*/

.navSection{
	display: none;
}

#nav_one{
	background: linear-gradient(-30deg,rgb(128, 0, 0),rgb(252, 252, 251));
}

#nav_two{
	background: linear-gradient(-30deg,rgb(238, 213, 130),rgb(252, 252, 251));
	background:violet;
}

#nav_three{
	background: linear-gradient(-30deg,green,rgb(252, 252, 251));
}

#nav_four{
	background: linear-gradient(-30deg,gray,rgb(252, 252, 251));
}

.navs{
	width: 55%;
	height: auto;	
	margin:7%;
	margin-bottom: 2px !important;
	padding: 10px;
	border-radius: 30px;
	border: 3px solid white;
	display:flex;
	align-items: center;
}


.navs button{
	width: auto !important;
	border-radius: 10px;
	padding: 5px;
	margin:3px;
	background:transparent;
	color: black;
	outline: none;
	border: none;
	font-size: 22px;
}

.navs button:focus{
	outline: none;
	border: none;
}

.navs button i{
	outline: none;

}


/*---GAMEPLAY START SECTION---*/

#startSection {
	font-family: 'Poppins', sans-serif;
	display: none;
	width: 55%;
	height: auto;	
	margin:7%;
	margin-top:2px !important;
	padding: 10px;
	border-radius: 30px;
	border: 3px solid white;
	box-sizing: border-box;
	box-shadow: 1px 2px 3px white;
	background: linear-gradient(30deg,green,white);
	transition: 1s ease;
	opacity: 100%;
	outline: none;

}


#startSection:hover {
	background: linear-gradient(lightgrey, #ff0000);
	transition: 0.8s;
}


#startSection h1 {
	font-family: cursive; 
	font-style: italic;
	font-weight: bolder; 
	text-shadow: 1px 2px 2px lightgreen, 2px 3px 3px grey; 
	color: orange; 
	padding: 1%;
	border-radius: 50px; 
	box-sizing: border-box;
}


/*---GAMEPLAY LOADER---*/

.appLoader {
	position: absolute;
	top:43%;
	left: 47%;
	bottom: 50%;
	display: none;
	animation: spin 0.5s;
	margin-top: 10px;
	padding: 4%;
	border-radius: 1000px;
	border-top: 7px solid green;
	border-bottom: 7px outset red;
	border-right: 5px dashed yellow;
	border-left: 5px dotted purple;
	z-index: 2;
}



.fadeOut{
	opacity: 0;
}



@keyframes spin {
	from{
		transform: rotate(0deg);
	}

	to{
		transform: rotate(380deg);
	}
}



/*---GAMEPLAY PLAY BUTTON---*/

.playGame {
	font-family: 'Poppins', sans-serif;
	color: white;
	padding: 10px;
	font-weight: bold;
	font-size: 40em;
	box-sizing: border-box;
	background: orange;
	transition: 0.8s;
	cursor: pointer;
	border-radius: 20px;
	outline: none;

}

.playGame:hover {

	padding:20px;
	background: black;
	outline: none;
}

.playGame:focus{
	border: none;
	outline: none;
}




/*---GAMEPLAY START FOOTER SECTION---*/

.bottom{
	font-family: 'Poppins', sans-serif;
	font-style: italic;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0;
	padding: 5px;
	outline: none;

}

.bottom button{
	border-radius: 10px;
	padding: 5px;
	background:black;
	color: white;
	outline: none;
}

.bottom button:hover{
	background:orange;
	color: black;
}

.bottom button:focus{
	border: none;
	outline: none;
}




/*---GAMEPLAY PICK SECTION---*/

#pickSectionBox{
	display: none;
	margin-top: 0px !important;
}

#pickSection {
	display: flex;
	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
	width: 55%;
	height: auto;	
	margin:7%;
	padding: 5%;
	border-radius: 30px;
	border: 3px solid white;
	box-sizing: border-box;
	box-shadow: 1px 2px 3px white;
	background: linear-gradient(-30deg,brown,yellow);
	animation: fade_in 5s ease;
	opacity: 100%;
	outline: none;

}

@keyframes fade_in{
	0%{
		opacity:0.9;
	}

	100%{
		opacity:1;
	}
}
#pickSection button{
	font-family: 'Poppins', sans-serif;
	border-radius: 8px;
	padding: 5px;
	width: auto;
}

#picksection button:focus{
	border: none;
	outline: none;
}

#pickSection button h3{
	display: flex;
}


/*---GAMEPLAY VERSUS COMPUTER SECTION---*/

#crackComputer{
	border: 2px solid red;

}


#multiPlayer{
	border: 2px solid yellow;
}

/*---GAMEPLAY MULTIPLAYER SECTION---*/

.playVersus, .playOnline{
	border: 2px solid brown;

}

#multi_player_section{
	display: none;
}

#main-multiplayer{
	display: flex;
	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
	width: 55%;
	height: auto;	
	margin:7%;
	padding: 5%;
	border-radius: 30px;
	border: 3px solid white;
	box-sizing: border-box;
	box-shadow: 1px 2px 3px white;
	background: linear-gradient(-30deg,brown,yellow);
	transition: 1s ease;
	opacity: 100%;
	outline: none;

}

#main-multiplayer button{
	border-radius: 8px;
	padding: 5px;
	width: auto;
}

#main-multiplayer button:focus{
	outline: none;
	border:none;
}



/*---GAMEPLAY PICK DIFFICULTY SECTION---*/

#digitChoice_one, #digitChoice_two, #digitChoice_three{
	display: none;
}

#pickDigit{
	display: flex;
	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
	width: 55%;
	height: auto;	
	margin:7%;
	padding: 5%;
	border-radius: 30px;
	border: 3px solid white;
	box-sizing: border-box;
	box-shadow: 1px 2px 3px white;
	background: linear-gradient(-30deg,brown,yellow);
	transition: 1s ease;
	opacity: 100%;
	outline: none;

}


#pickDigit button{
	border-radius: 8px;
	padding: 5px;
	width: auto;
}

#pickDigit button:focus{
	outline: none;
	border:none;
}








/*---GAMEPLAY ENTER CODE SECTION---*/

#codeSection {
	display: none;
}


#crakingSection{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	width: 55%;
	height: auto;	
	margin:7%;
	padding: 10px;
	border-radius: 30px;
	border: 3px solid white;
	box-sizing: border-box;
	box-shadow: 1px 2px 3px white;
	background: linear-gradient(30deg,green,white);
	transition: 1s ease;
	opacity: 100%;
	outline: none;

}

#icons{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      left: 20px;

}


#icons button{

	border-radius: 10px;
	padding: 5px;
	margin:3px;
	background:transparent;
	color: black;
	outline: none;
	border: none;
}

#icons button:hover{
	background:orange;
	color: black;
}

#icons button:focus{
	background:orange;
	color: black;
	outline: none;
	border: none;
}


#time{
	font-family: 'Poppins', sans-serif;
}

#all_message{
	font-family: 'Poppins', sans-serif;
	width: 45%;
	border: 2px solid transparent;
	background: transparent;
	margin: 20px auto;
	border-radius: 10px !important;
	overflow-y:scroll;
}
#all_message:focus{
	border:none;
}

#enterCode{
	font-family: 'Poppins', sans-serif;
	background: transparent;
	border: none;
	border-bottom: 3px solid yellow;
	margin: 10px;
	text-align:center;
}

#enterCode:focus{
	outline: none;
	border: none;
	border-bottom: 2px solid red;

}

#enterCode::placeholder{
	font-family: 'Poppins', sans-serif;
	transform: translate(center);

}

#decode{
	border-radius: 10px !important;
	padding: 3px;
	color: goldenrod;
	background: black;
	cursor: pointer;


}

#decode:hover{
	color: black;
	background: gold;
	

}

#decode:focus{
	outline: none;
	border:none;
}

#bottom_message{
	display: flex;
	justify-content: center;
	align-items: center;
}

#bottom_message p{
	margin: 5px;
}











