/*---GAMEPLAY ENTER CODE SECTION---*/
:root{
	--theme-color:rgb(10, 212, 10);
	--theme-color-support:black;
	--theme-transparency:transparent;
	--theme-color-relation-a:green;
	--theme-color-relation-b:lightgreen;
	--borders:whitesmoke;
	--font-color-a:orange;
	--font-color-b:whitesmoke;
	--shadow:gray;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	background: url(../images/Unsplash/decipher.jpg);
	background-size: 100% 100vh;
}
  
.center{
	margin-top: 10px;
}

.hide{
	display: none;
}

.fadeIn{
	opacity: 1;
}

.show{
	display: block;
}

.showInline{
	display: inline-block;
}


#codeSection {
	margin: 20% auto;
}

#crakingSection{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
	width: 55%;
	height: auto;	
	margin:7%;
	padding: 10px;
	border-radius: 30px;
	border: 3px solid var(--borders);
	box-sizing: border-box;
	box-shadow: 1px 2px 3px var(--shadow);
	background:url(../images/Unsplash/codebox.jpeg);
	transition: 1s ease;
	opacity: 100%;
	outline: none;

}

#icons{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      position: absolute;
      left: 20px;

}


#icons button{

	border-radius: 10px;
	padding: 5px;
	margin:3px;
	background:var(--theme-transparency);
	color: var(--theme-color);
	outline: none;
	border: none;
}

#icons button:hover{
	background:var(--theme-color);
	color: var(--theme-color-support);
}

#icons button:focus{
	background:var(--theme-color);
	color: var(--theme-color-support);
	outline: none;
	border: none;
}



#otherOptions{
	position: relative;
}

#otherOptions ul{
	display: none;
	z-index: 10;
	top: 10px;
	left: 30px;

}

#otherOptions ul li{
	list-style: none;
	padding-left:10px;
	color: var(--theme-color-relation-b);
}

/* .otherOptionss{
	display: block;
	position:absolute;
	width: 120px;
	padding: auto;
	margin-top: 10px;
	background: var(--theme-transparency);
	display: flex;
	flex-direction: column;
} */

#otherOptions:hover ul, #otherOptions:focus ul{
	display: block;
	position:absolute;
	width: 120px;
	padding: auto;
	margin-top: 10px;
	background: var(--theme-transparency);
	display: flex;
	flex-direction: column;
}


#hint #hint_h5{
	display: none;
	z-index: 10;
	top: 50px;
	left: 30px;

}

#hint:hover #hint_h5{
	display: block;
	position:absolute;
	padding: auto;
	background: var(--theme-color-support);
	color: var(--theme-color-relation-b);
	width: 200px;
}

#partialfix #partialfix_h5_1, 
#partialfix #partialfix_h5_2{
	display: none;
	z-index: 10;
	top: 100px;
	left: 30px;
}

#partialfix:hover #partialfix_h5_1{
	display: block;
	position:absolute;
	padding: auto;
	background: var(--theme-color-support);
	color: var(--theme-color-relation-b);
	width: 200px;
}

#time{
	font-family: 'Poppins', sans-serif;
	background-color: var(--theme-color-support);
	color: var(--font-color-b);
}

#all_message{
	font-family: 'Poppins', sans-serif;
	width: 80%;
	border: 2px solid var(--theme-color);
	background: var(--theme-color-support);
	color: var(--font-color-b);
	margin: 20px auto;
	border-radius: 10px !important;
	overflow-y:scroll;
	height: 100px;
}
#all_message:focus{
	border:none;
}

#all_message::-webkit-scrollbar-track{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	border-radius:10px;
	background-color:var(--theme-color);
}

#all_message::-webkit-scrollbar-thumb{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);	
		border-radius:10px;
		background-color:var(--theme-color-relation-b);
}

#all_message::-webkit-scrollbar{
	width: 12px;
}

#enterCode{
	font-family: 'Poppins', sans-serif;
	border: none;
	border-bottom: 3px solid var(--theme-color);
	background: var(--shadow);
	margin: 10px;
	text-align:center;
}

#enterCode:focus{
	outline: none;
	border: none;
	border-bottom: 2px solid red;

}

#enterCode::placeholder{
	font-family: 'Poppins', sans-serif;
	transform: translate(center);
	color: var(--shadow);

}

#decode{
	border-radius: 10px !important;
	padding: 3px;
	color: var(--font-color-b);
	background: var(--theme-color-support);
	cursor: pointer;


}

#decode:hover{
	background: var(--theme-color);
	color: var(--theme-color-support);
	

}

#decode:focus{
	outline: none;
	border:none;
	background: var(--theme-color);
	color: var(--theme-color-support);
}

#bottom_message{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--theme-color-support);
	color: var(--font-color-b);
}

#bottom_message p{
	margin: 5px;
}


@media screen and (max-width:1024px){

	#codeSection {
		margin: 30% auto;
	}
}

@media screen and (max-width:980px){
	body {
		padding: 0 auto;
		overflow: hidden;
	}

	#codeSection {
		margin: 0 auto;
		margin-bottom: 0;
	}
	
	#crakingSection{
		margin: 0 auto;
		width: 90%;
		height: 85vh !important;
	}

	#icons{
		left: 0;
		bottom: 0;
		flex-direction: row;
		width: 100%;
	}

	#otherOptions:focus ul{
		left: 0px;
		top: -200%;
		flex-direction: row;
	}

	#hint:hover #hint_h5{
		top: -150%;
	}

	#partialfix:hover #partialfix_h5_1{
		top: -180%;
		left: 30%;
	}

	#gamePlayGadget{
		width: 100%;
		margin-top: 60% !important;
	}

	#bottom_message{
		margin-top: 10px;
	}
}